<div>
    <div class="form-inline">
        <br />
        <br />
        <div>
            @*//ToDo нажатие по Enter*@
            <input id="txtLongUrl" type="text" placeholder="Вставьте вашу длинную ссылку сюда..." class="form-control" data-bind="value: link.extend({ url: true })"/>
            <button class="btn btn-primary" data-bind="click: getShortUrl,text: buttonText"></button>
        </div>
    </div>
    <br />

    <div data-bind="visible: copiedLink() && IsEmptyLinkInput()"><a target="_blank" data-bind="text: copiedLink, attr: {href: copiedLink}"></a> - ссылка скопирована в буфер обмена</div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/app/shortLink")
}


