<div>
    <div class="form-inline">
        <br />
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">URL</span>
                @*//ToDo Валиадация*@
                <input id="txtLongUrl" type="text" placeholder="Вставьте вашу длинную ссылку сюда..." class="form-control" data-bind="value: link" />
                <button class="btn btn-primary" data-bind="click: getShortUrl,text: buttonText"></button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/app/shortLink")
}


