<div>
    <form class="form-inline" role="form">
        <br />
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only" for="txtLongUrl">URL</label>
                <span class="input-group-addon">URL</span>
                <input id="txtLongUrl" type="text" placeholder="Вставьте вашу длинную ссылку сюда..." class="form-control" />
                <button type="submit" class="btn btn-primary">Укоротить URL</button>
            </div>
        </div>
    </form>
</div>

