<div>
    <div class="form-inline">
        <br/>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only" for="txtLongUrl">URL</label>
                <span class="input-group-addon">URL</span>
                <input id="txtLongUrl" type="text" placeholder="Вставьте вашу длинную ссылку сюда..." class=".txtLongUrl form-control" data-bind="value: link"/>
                <button class="btn btn-primary" data-bind="click: getShortUrl,text: buttonText"></button>
            </div>
        </div>
    </div>
</div>




