<div class="container">
    <h2>Статистика переходов по ссылкам</h2>

    @*//ToDo добавить Loader*@
    <span data-bind="visible: loading"> Идет загрузка...</span>

    <table class="table" data-bind="visible: hasData">
        <thead>
            <tr>
                <th>Полная ссылка</th>
                <th>Укороченная ссылка</th>
                <th>Дата создания</th>
                <th>Данные по переходам</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: statisticsData">
            <tr>
                <td><a target="_blank" data-bind="text: Link.NativeUrl, attr: {href: Link.NativeUrl}"></a></td>
                <td><a target="_blank" data-bind="text: Link.ShortUrl, attr: {href: Link.ShortUrl}"></a></td>
                <td><span data-bind="text: Link.CreateDateString"></span></td>
                <td>
                    <table class="table" data-bind="visible: Statistics.length>0">
                        <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Кол-во переходов</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Statistics">
                            <tr>
                                <td><span data-bind="text: CreateDateString"></span></td>
                                <td><span data-bind="text: RedirectCount"></span></td>
                            </tr>
                        </tbody>
                    </table>
                   <span data-bind="visible: Statistics.length==0" title="Данные обновляются с задержкой в 10 сек."><span class="glyphicon glyphicon-info-sign"></span> нет данных</span>
                </td>
            </tr>
        </tbody>
    </table>

    <h3 data-bind="visible: !hasData">Нет данных.</h3>

</div>


@section scripts {
    @Scripts.Render("~/bundles/app/shortLinksStatistics")
}



