<div>
    <form class="form-inline" role="form">
        Ваши ссылки:

    </form>
</div>
@*ToDo разобраться с порядком подключения скриптов*@
@Scripts.Render("~/bundles/app/shortLinksStatistics")


